{% extends 'artigos/home.html' %}

{% load static %}

{% block middle %} 
<div class="conteudo">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
          tex: {
            tags: 'ams'  // should be 'ams', 'none', or 'all'
          }
        };
  </script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

	
{% with paginas as paginated %}
	{% include 'artigos/partes/titulo_modelo.html' %}
{% endwith %}

<div class="figura_principal"> 
	<figure>
	  <img src="{% static 'artigos/img/svgs/pendulo_elastico.svg' %}"/>
	  <figcaption class="label_figure">Fig.1 Pêndulo Elástico.</figcaption>
	</figure>
  </div>

<p>Neste artigo serão deduzidas as equações diferenciais que regem o movimento 
   do pêndulo elástico através da 2ª Lei de Newton, onde:
    \begin{align} \label{eqn:forca_resultante}
        \boldsymbol{F_{Res}} = m\,^R\boldsymbol{a}^Q
    \end{align} 
</p>
<p>Na equação \eqref{eqn:forca_resultante}, \(\boldsymbol{F_{Res}}\) é a força resultante
    que pode ser entendida como o soma vetorial das forças que agem sobre o sistema
    e \(^R\boldsymbol{a}^Q\) é a aceleração do ponto Q em relação ao referencial R.</p>
 
 <p>Para fins de convenção, neste artigo, todos os elementos que correspondem a vetores estarão em negrito.

<p>
   Na figura acima \(R\) é o referencial inercial com coordenadas \(x\) e \(y\), \(\ell_0\) é o comprimento da mola em estado relaxado, d é a 
   medida da distensão da mola, A é um referencial posicionado na esfera onde também
   foi, estratégicamente, posicionada uma base \(a = \{\boldsymbol{a_1},\,\boldsymbol{a_2},\,\boldsymbol{a_3}\}\), formada por um conjunto de vetores unitarios ortogonais,
</p>

<p>Este dispositivo possui dois graus de liberdade. Um relacionado ao deslocamento que ocorre na direção
   da distenção da mola, aqui representado por \(d\), e outro relacionado ao deslocamento angular \(\theta\)
   que corresponde a um deslocamento linear da esfera com direção e sentido do vetor velocidade linear \(^R\boldsymbol{v}^P\)
   tangente à trajetória, pois embora sua trajetória ocorra em duas dimensões,
   o vínculo trigonométrico exercido pela haste reduz um grau de liberdade.</p>
<p>Sendo assim, busca-se um conjunto de equações diferenciais formado por duas equação de movimeto, um para cada
   grau de liberdade referentes a \(d\) e \(\theta\).</p>
 
<p>Como pode ser obervado o referencial A varia em relação ao referecial inercial R.</p>
<p>Esta variação é calculada através da derivada dos vetores da base \(a\) em relação a R, e isso se dá através
   do produto vetorial entre o vetor velocidade angular de A em relação a R, simbolizado por \(^R\boldsymbol{\omega}^A\)
   e mostrado na equação \eqref{eqn:omega}, e os vetores unitários da base \(a\), conforme as equações de \eqref{eqn:derivada_a1} à \eqref{eqn:derivada_a3}

   \begin{align}
        ^R\boldsymbol{\omega}^A & = \dot{\theta}\boldsymbol{a}_3 \label{eqn:omega}\\
        ^R\dot{\boldsymbol{a}}_1 & = \dot{\theta}\boldsymbol{a}_3 \times \boldsymbol{a}_1 = \dot{\theta}\boldsymbol{a}_2 \label{eqn:derivada_a1}\\
        ^R\dot{\boldsymbol{a}}_2 & = \dot{\theta}\boldsymbol{a}_3 \times \boldsymbol{a}_2 = -\dot{\theta}\boldsymbol{a}_1 \label{eqn:derivada_a2}\\
        ^R\dot{\boldsymbol{a}}_3 & = \dot{\theta}\boldsymbol{a}_3 \times \boldsymbol{a}_3 = 0 \label{eqn:derivada_a3}
   \end{align}</p>

<p>
    De posse das derivadas dos vetores da base, os próximos passos são calcular os vetores posição \(\boldsymbol{p}^{Q/O}\), velocidade linear \(^R\boldsymbol{v}^Q\,=\,^R\dot{\boldsymbol{p}}^{Q/O}\) e aceleração linear \(^R\boldsymbol{a}^Q\,=\,^R\ddot{\boldsymbol{p}}^{Q/O}\), conforme as equações de \eqref{eqn:posicao} e \eqref{eqn:aceleracao_3}.

    \begin{align}
        ^R\boldsymbol{p}^Q & = (\ell_0 + d) \boldsymbol{a}_1 \label{eqn:posicao}\\[0.5em]
        ^R\boldsymbol{v}^Q & =  \dot{d}\boldsymbol{a}_1 + (\ell_0 + d)\dot{\boldsymbol{a}}_1 = \dot{d}\boldsymbol{a}_1 + (\ell_0 + d)\dot{\theta}\boldsymbol{a}_2  \label{eqn:velocidade}\\[0.5em]
        ^R\boldsymbol{a}^Q & =  \ddot{d}\boldsymbol{a}_1 + \dot{d}\dot{\boldsymbol{a}}_1+ [\dot{d}\dot{\theta} + (\ell_0 + d)\ddot{\theta}]\boldsymbol{a}_2 + (\ell_0 + d)\dot{\theta}\dot{\boldsymbol{a}_2}\label{eqn:aceleracao_1}\\[0.5em]
        ^R\boldsymbol{a}^Q & = \ddot{d}\boldsymbol{a}_1 + \dot{d}\dot{\theta}\boldsymbol{a}_2 + [\dot{d}\dot{\theta} + (\ell_0 + d)\ddot{\theta}]\boldsymbol{a}_2 - (\ell_0 + d)\dot{\theta}^2 \boldsymbol{a}_1\label{eqn:aceleracao_2}\\[0.5em]
        ^R\boldsymbol{a}^Q & = [\ddot{d} - (\ell_0 + d)\dot{\theta}^2]\boldsymbol{a}_1 + [2\dot{d}\dot{\theta} + (\ell_0 + d)\ddot{\theta}]\boldsymbol{a}_2\label{eqn:aceleracao_3}
   \end{align}</p>
<p>Em uma rápida inspeção no desenho, considerando a massa da haste disprezível, é possível observar duas forças atuando na esfera. A força peso, apontando para baixo com módulo igual \(m\mathrm{g}\) e a força elástica com módulo \(kd\) e sentido contrário a \(\boldsymbol{a}_1.\) </p>
<p>Definindo a equação \eqref{eqn:forca_resultante} na direção dos vetores da base fixa no referencial A, são verdadeiras as afirmação contidas nas equações \eqref{eqn:forca_resultante_n1} e \eqref{eqn:forca_resultante_n2}.
    \begin{align} 
        F_{Res} \, \boldsymbol{a}_1 & = m\,^Ra^Q \, \boldsymbol{a_1} \label{eqn:forca_resultante_n1} \\[0.5em]
        F_{Res} \, \boldsymbol{a}_2 & = m\,^Ra^Q \, \boldsymbol{a_2} \label{eqn:forca_resultante_n2}
    \end{align}
</p>

<p>Substituindo as forças que atuam sobre a esfera e a aceleração encontrada na equação \eqref{eqn:aceleracao_3}, na equação \eqref{eqn:forca_resultante}, chega-se aos resultados das equações \eqref{eqn:equacao_movimento_a1_3} e \eqref{eqn:equacao_movimento_a2_3}. </p>
<p>
Em relação a \(\boldsymbol{a}_1\):   
    \begin{align} 
        m\mathrm{g}\cos{\theta} - kd & = m[\ddot{d} - (\ell_0 + d)\dot{\theta}^2] \label{eqn:equacao_movimento_a1_1}\\
        m\mathrm{g}\cos{\theta} - kd & = m\ddot{d} - m(\ell_0 + d)\dot{\theta}^2 \label{eqn:equacao_movimento_a1_2}\\
        \ddot{d}& = (\ell_0 + d)\dot{\theta}^2 + \mathrm{g}\cos{\theta} - \frac{k}{m}d \label{eqn:equacao_movimento_a1_3}  

    \end{align}
</p>

<p>
    Em relação a \(\boldsymbol{a}_2\):   
        \begin{align} 
            -m\mathrm{g}\sin{\theta}  & = m[2\dot{d}\dot{\theta} + (\ell_0 + d)\ddot{\theta}] \label{eqn:equacao_movimento_a2_1}\\
            -m\mathrm{g}\sin{\theta}  & = 2m\dot{d}\dot{\theta} + m(\ell_0 + d)\ddot{\theta} \label{eqn:equacao_movimento_a2_2}\\
            \ddot{\theta} & = - \frac{\mathrm{g}\sin{\theta}+2\dot{d}\dot{\theta}}{(\ell_0 + d)}\label{eqn:equacao_movimento_a2_3}
        \end{align}
    </p>
<p>Finalmente, as equações \eqref{eqn:equacao_movimento_a1_3} e \eqref{eqn:equacao_movimento_a2_3} são as equações diferenciais que
   regem o movimento do pêndulo elástico, onde as acelerações foram isoladas com o intuito de serem utilizadas na integração numérica com métodos computacionais. </p>

{% with paginas as paginated %}
    {% include 'artigos/partes/paginacao.html' %}
{% endwith %}
</div>
{% endblock %}
