.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.espaco{
  height: 10px;
}
.accordion-wrapper {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  width: 230px;
  margin:0 auto;
  top: 30px;
}
.accordion {
  width: 100%;
  color: #EDF5E1;
  overflow: hidden;
  margin-bottom: 5px;  
}

.link_externo{
  color:#EDF5E1;
  text-decoration: none;
  display: flex;
  /* -webkit-box-pack: justify;
  justify-content: space-between; */
  padding: 16px;
  background: #116466;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.link_interno{
  color:#379683;
  text-decoration: none;
  display: flex;
  padding: 6px;
  background: #EDF5E1;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;

}
.accordion:last-child{
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: #379683;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.accordion-label:hover {
  background: #116466;
  
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color:#379683;
  background:  #EDF5E1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content p{
  margin: 0;
  /* color: rgba(4,57,94,.7); */
  font-size: 12px;
  /* background-color: none; */
}

input:checked + .accordion-label {
  background: #116466;
}
input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}
