/* Paginação do rodapé */
.pagination{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;  
}

.pagination > li{
    list-style-type: none;
}

li:first-child > a{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

li:last-child > a{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.page-item a{
     text-decoration: none;
     display: block;
     color: #116466;
     background-color: #FF9955;
     padding: 10px;
     font-size: 20px;
}

.page-item a:hover{
    background-color: #FF6600; 
    color: #EDF5E1; 
} 

#disabled{
    background-color: lightgrey;
    color: gray;
}

#active{
    background-color: #379683;
    color:  #EDF5E1;
}

/* Paginação do topo */

.container-titulo-modelo{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.titulo-modelo{
    width: 450px;

}

.container-btn-previous-modelo{
    font-size: 100px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.container-btn-next-modelo{
    font-size: 100px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.container-btn-previous-modelo  > a{
    text-decoration: none;
    display: block;  
}

.container-btn-next-modelo  > a{
    text-decoration: none;
    display: block;  
}

.btn-previous-active{
    color: #379683;
}
.btn-previous-disabled{
    color: darkgray;
}
.btn-next-active{
    color: #379683;
}
.btn-next-disabled{
    color: darkgray;
}