@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

h1{
    text-align: center;
    font-style: italic;
    /* margin: auto; */
    font-family: 'Merriweather', serif;
    width: 600px;
 }

.principal{
    background: #EDF5E1;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* gap: 5px 0px; */
 }

 .top{
    background: #EDF5E1;
    height: 250px;
    width: 1200px;
    border-bottom: 1px dashed #116466;
}

.center{
    display: flex;
    flex-direction: row ;
    /* justify-content: space-between; */
    background: #EDF5E1;
}

.left{
    background: #EDF5E1;
    width: 260px;
}

.middle{
    background: #EDF5E1;
    width: 700px;
    font-family: 'DM Sans', sans-serif;
    color: #116466;  
    border-left: 1px dashed #116466;
    border-right: 1px dashed #116466;
}

.right{
    background: #EDF5E1;
    width: 250px;
}

.botton{
    background: #EDF5E1;
    height: 150px;
    border-top: 1px dashed #116466;
}


.middle p{
    width: 100%;
    text-indent: 2em;
    text-align: justify;
    /* text-justify: inter-word; */
}

 .conteudo{
    margin: 20px;
}

.figura_principal{
    margin: none;
}

.figura_principal img{   
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    /* border: thin solid; */
}
.label_figure {
    font-style: italic;
    padding: 10px;
    text-align: center;
}

/* Estilização do contato */

.container_contato{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.container_zap{
    display: flex;
    width: 250px;
}

.container_email{
    display: flex;
    width: 300px;
}

.figura_zap{
    height: 25px;
    width: 25px;
    padding-right: 10px;
}

.figura_email{
    height: 25px;
    width: 25px;
    padding-right: 10px;
}

/* Estilização de quem somos */
.item_quem_somos{
    padding-top: 20px;
}

/* Estilização de quem somos */
.container_doacoes{
    padding-left: 20px;
}
