@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
summary{
    cursor: pointer;
    width: 250px;
}

details > summary {
    list-style-type: '+  ';
    width: 350px;
}

details[open] > summary {
    list-style-type: '-  ';
    transition: 1s;
}

summary::marker{
    font-size: 1.5em;
    padding-right: 10px;
    color:#FF6600
}

details[open] {
    animation-name: fadeInDown;
    animation-duration: 1s;
}    

ul{
    list-style: none;
}

ol > li{
    list-style-type: none;
    display: flex;
    align-items: center;
    color:#FF6600
}

ol > li:before {
    content: '\2022';
    font-size: 1.5em;
    margin-right: 10px;
  }

  li > a{
    text-decoration: none;
    color: #379683;
}

li > a:visited{
    color:yellowgreen
}

li > a:hover{
    color:#FF6600
}

