<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinâmica Online</title>
    
    <link rel="stylesheet" href="{% static 'artigos/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'artigos/css/accordion.css' %}">
     
</head>
    <body>
        <div class="principal">
            <div class="top">
                    {% block top %} 
                    {% endblock %}
            </div>
            <div class="center">
                <div class="left">
                    {% block left %} 
                    {% endblock %}
                </div>
                <div class="middle">
                    {% block middle %} 
                    {% endblock %}
                </div>
                <div class="right">
                    {% block right %} 
                    {% endblock %}
                </div>
            </div>
            <div class="botton">
                {% block botton %} 
                {% endblock %}
            </div>
        </div>
    </body>
</html>

