{% extends 'artigos/home.html' %}
{% load static %}

{% block middle %} 
  
<h1>Contato</h1>

<div class="container_contato">
    <div class="container_zap"> 
        <img class="figura_zap" src="{% static 'artigos/img/svgs/zap.svg' %}"/>
        Whatsapp: (21) 99684-8644
    </div>
    <div class="espaco"></div>
    <div class="container_email"> 
        <img class="figura_email" src="{% static 'artigos/img/pngs/mail.png' %}"/>
        Email: clarinetabest@gmail.com
    </div>
</div>





{% endblock %}
    