{% extends 'artigos/home.html' %}
{% load static %}

{% block middle %} 
  
<h1>Doações</h1>

<div class="container_doacoes">
Rodrigo Mello da Costa
<ul>
    <li class="item_doacoes">Transferência Bancária</li>
        <ul>
            <li>Banco: Santander</li>
            <li>Agência: 0850</li>
            <li>Conta Corrente: 01715639-3</li>
        </ul>
    <li class="item_doacoes">Pix</li>
    <ul>
        <li> CPF: 054.646.887-06</li>
    </ul>
</ul>
</div>
{% endblock %}
    