{% extends 'artigos/home.html' %}
{% load static %}

{% block middle %} 
  
<h1>Curriculum Vitae</h1>

<ul>
    <li class="item_quem_somos">Cursos Superiores </li>
        <ul>
            <li>Tecnologia em informática pela universidade UNIABEU</li>
            <li>Engenharia de Controle e Automação pelo CEFET-RJ</li>
        </ul>
    <li class="item_quem_somos">Pós-Graduação Latu Sensu</li>
    <ul>
        <li> Análise, Projeto e Gerência de Sistemas pela Universidade Estácio de Sá</li>
    </ul>
</ul>
{% endblock %}
    