{% load index %}

{% if paginated.has_other_pages %}
    <ul class="pagination">
    {% if paginated.has_previous %}
        <li class="page-item">
          <a href="?page={{ paginated.previous_page_number }}" title="Anterior">&laquo;</a>
        </li>
    {% else %}
        <li class="page-item">
          <a id="disabled">&laquo;</a>
        </li>
    {% endif %}
    {% for page in paginated.paginator.page_range %}
        {% if paginated.number == page %}
          <li class="page-item">
            <a id="active">{{ page }}</a>
          </li>
        {% else %}
          <li class="page-item">
            {% comment %} &tipo={{url|index:2}}&subsistema={{url|index:1}}&sistema={{url|index:0}} {% endcomment %}
            <a href="{% url 'roteador' %}?page={{page}}&tipo={{url|index:2}}&subsistema={{url|index:1}}&sistema={{url|index:0}}" title="{{lista|index:forloop.counter0|index:3}}" >{{ page }}</a>
          </li>
        {% endif %}
    {% endfor %}
    {% if paginated.has_next %}
        <li class="page-item">
          <a href="?page={{ paginated.next_page_number }}" title="Próximo">&raquo;</a>
        </li>
    {% else %}
        <li class="page-item">
          <a id="disabled">&raquo;</a>
        </li>
    {% endif %}
  </ul>
{% endif %}
