{% extends 'artigos/home.html' %}

{% load static %}

{% block middle %} 
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
          tex: {
            tags: 'ams'  // should be 'ams', 'none', or 'all'
          }
        };
  </script>

<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>



{% with paginas as paginated %}
  {% include 'artigos/partes/titulo_modelo.html' %}
{% endwith %}
       

<div class="figura_principal"> 
  <figure>
    <img src="{% static 'artigos/img/svgs/pendulo_simples.svg' %}"/>
    <figcaption class="label_figure">Fig.1 Pêndulo simples.</figcaption>
  </figure>
</div>

<p>Neste artigo será deduzida a equação diferencial que rege o movimento do Pêndulo Simples utilizando a 2ª Lei de Newton, onde:

  \begin{align} \label{eqn:forca_resultante}
  \boldsymbol{F_{Res}} = m\boldsymbol{a}
  \end{align} 

</p>

<p>Na equação \eqref{eqn:forca_resultante}, \(F_{Res}\) é a força resultante
   que pode ser entendida como o soma vetorial das forças que agem sobre o sistema
   e \(\boldsymbol{a}\) é a aceleração do ponto Q em relação ao referencial inercial representado por R.

</p>

<p>Para fins de convenção, neste artigo, todos os elementos que correspondem a vetores estarão em negrito.

<p>No modelo apresentado na figura acima é possível observar dois vetores unitários \( \boldsymbol{a_1}\) e \(\boldsymbol{a_2}\), sendo o primeiro
   longitudinal ao eixo da haste, e o segundo perpendicular a esse eixo e um terceiro vetor \(\boldsymbol{a_3}\), 
   também perpendicular ao eixo da haste porém, segundo a regra da mão direita, aponta para fora da tela de forma que \( \boldsymbol{n_1} \times \boldsymbol{n_2} = \boldsymbol{n_3}.\)</p>

<p>Esses três vetores formam uma base fixa no referencial \(A\) propositalmente posicionada na
esfera de forma a aproveitar a geometria do dispositivo.<p/>

<p>Sendo assim é possível observar três forças atuando sobre o sistema, que seriam:
\begin{align} 
  \boldsymbol{F_1} & = -T\boldsymbol{a_1} \label{eqn:forca_tracao} \\ 
  \boldsymbol{F_2} & = mg \cos{\theta} \, \boldsymbol{a_1} - mg \sin{\theta} \, \boldsymbol{a_2} \\
  \boldsymbol{F_3} & = -c \dot{\theta} \, \boldsymbol{a_2} \label{eqn:forca_amortecimento}
\end{align} 
</p>

<p>Aqui \(\boldsymbol{F_1}\) é uma força de módulo \( T \) com sentido contrário à \(\boldsymbol{a_1}\) que representa a tensão na haste, \(\boldsymbol{F_2}\) 
é a força gravitacional decomposta em  \(\boldsymbol{a_1}\) e \(\boldsymbol{a_2}\), onde \(g\) é o módulo da aceleração gravitacional e \(\boldsymbol{F_3}\) 
é uma força não conservativa de módulo \(c\dot{\theta}\), coeficiente de amortecimento \(c\) e é contrária ao movimento do pêndulo.</p>

<p> Vale ressaltar que, embora não esteja representada na figura, \(\boldsymbol{F_3}\) representa uma força capaz de impedir a oscilação infinita do pêndulo, sendo essa a situação que acontece na vida real.</p>

<p align="justify" class="paragrafo">Em seguida será calculado o vetor velocidade angular \(\boldsymbol{\omega}\) de módulo \( \omega =\dot{\theta}\), que segundo a regra da mão direita, tem a mesma direção e sentido de \(\boldsymbol{a_3}\) e será utilizado para o cálculo das derivadas
dos vetores da base A em relação ao referencial inercial R, da forma que se segue:

\begin{align} 
  \boldsymbol{\omega} & = \dot{\theta} \, \boldsymbol{a_3} \label{eqn:velocidade_angular}\\ 
  \boldsymbol{\dot{a}_1} & = \dot{\theta} \, \boldsymbol{a_3} \times \boldsymbol{a_1} = \dot{\theta} \, \boldsymbol{a_2} \label{eqn:derivada_a1}\\
  \boldsymbol{\dot{a}_2} & = \dot{\theta} \, \boldsymbol{a_3} \times \boldsymbol{a_2} = -\dot{\theta} \, \boldsymbol{a_1} \label{eqn:derivada_a2}\\
  \boldsymbol{\dot{a}_3} & = \dot{\theta} \, \boldsymbol{a_3} \times \boldsymbol{a_3} = 0 \label{eqn:derivada_a3}\\
\end{align} 
</p>
<p align="justify" class="paragrafo">
  Nesse ponto é conveniente traçar um vetor \(\boldsymbol{P}\) que aponta para \(\boldsymbol{a_1}\) onde \(|\boldsymbol{P}| = L\) como em \eqref{eqn:vetor_posicao_linear}, que representará o vetor posição do ponto Q com respeito a O. 
</p>
<p align="justify" class="paragrafo">Assim, de posse das derivadas obtidas em 
\eqref{eqn:derivada_a1} e \eqref{eqn:derivada_a2}, é possível obter os vetores velocidade e aceleração linear em \eqref{eqn:vetor_velocidade_linear} e \eqref{eqn:vetor_aceleracao_linear} que representam, respectivamente, a primeira e a segunda derivada de \(\boldsymbol{P}\) em relação a R. Logo:



\begin{align} 
  \boldsymbol{P} & = L \, \boldsymbol{a_1} \label{eqn:vetor_posicao_linear}\\ 
  \boldsymbol{\dot{P}} & = L \, \boldsymbol{\dot{a}_1} = L \dot{\theta}\, \boldsymbol{a_2} \label{eqn:vetor_velocidade_linear}\\
  \boldsymbol{\ddot{P}} & = L ( \ddot{\theta} \,\boldsymbol{a_2} + \dot{\theta} \, \boldsymbol{\dot{a}_2} )= L ( \ddot{\theta} \, \boldsymbol{a_2} - L \dot{\theta^2} \, \boldsymbol{a_1} ) \label{eqn:vetor_aceleracao_linear}
\end{align} 
</p>

<p align="justify" class="paragrafo">Assim, assumindo a massa da haste como desprezível e utilizando a massa \(m\) da esfera para compor a equação \eqref{eqn:forca_resultante}, a força resultante \(\boldsymbol{F}_{res}\) 
pode ser definida conforme a equação \eqref{eqn:vetor_forca_resultante}, onde o vetor aceleração linear possui duas componentes,
uma tangencial à trajetória do pêndulo com direção e sentido de \(\boldsymbol{a_2}\) e \(\boldsymbol{\dot{P}}\), com módulo igual a \(\ddot{\theta}\), 
e outra centrípeta na mesma direção porém  sentido contrário à \(\boldsymbol{a_1}\) com módulo igual a \(L\dot{\theta}^2\). 


\begin{align}
  \boldsymbol{F}_{res} = m \, \boldsymbol{\ddot{P}} = m \, ( \ddot{\theta} \, \boldsymbol{n_2} - L \dot{\theta^2} \, \boldsymbol{n_1} ) \label{eqn:vetor_forca_resultante}
\end{align}
</p>
<p align="justify" class="paragrafo">Utilizando a \(2^a\) Lei de Newton e considerando \(n\) na equação \eqref{eqn:vetor_forca_resultante_somatorio} como o nº de forças atuantes sobre o sistema, é correto afirmar que:

\begin{align}
  \boldsymbol{F}_{res} & =  \sum_{i=1}^{n} \boldsymbol{F_i} \label{eqn:vetor_forca_resultante_somatorio}\\
\end{align} 
</p>

<p align="justify" class="paragrafo"> Separando na equação \eqref{eqn:vetor_forca_resultante_somatorio} as forças que atuam na direção de \(\boldsymbol{a_1}\) das forças que atuam na direção de \(\boldsymbol{a_2}\), obtém-se

\begin{align}
  F_{res} \,\boldsymbol{a_1} & =  \sum_{i=1}^{n} F_i \,\boldsymbol{a_1} \\
  - mL \dot{\theta^2} \, \boldsymbol{a_1} & =  (mg \cos{\theta} - T)\, \boldsymbol{a_1} \label{eqn:vetor_forca_resultante_n1}\\
  F_{res} \,\boldsymbol{a_2} & =  \sum_{i=1}^{n} F_i \,\boldsymbol{a_2} \\
  m \,  L \, \ddot{\theta} \, \boldsymbol{a_2} & = - ( mg \sin{\theta} + c \dot{\theta} ) \, \boldsymbol{a_2} \label{eqn:vetor_forca_resultante_n2}
\end{align}
</p>

<p align="justify" class="paragrafo"> Igualando somente os módulos o nas equações \eqref{eqn:vetor_forca_resultante_n1} e \eqref{eqn:vetor_forca_resultante_n2} obtém-se
  os resultados das equações \eqref{eqn:equacao_movimento_1} e \eqref{eqn:equacao_movimento_2}.

\begin{align}
  - mL \dot{\theta^2} & =  mg \cos{\theta} - T \label{eqn:equacao_movimento_1}\\
  m \,  L \, \ddot{\theta} & = - ( mg \sin{\theta} + c \dot{\theta} ) \label{eqn:equacao_movimento_2}
\end{align}

<p align="justify" class="paragrafo">A equação \eqref{eqn:equacao_movimento_1}, através de uma simples manipulação algébrica, possibilita obter uma expressão para \(T\) em termos de 
  \(\theta\) e \(\dot{\theta}\) como pode ser visto em \eqref{eqn:forca_tracao_equacao}, porém é a equação \eqref{eqn:equacao_movimento_1} que rege de fato o movimento oscilatório do pêndulo.
</p>

<p align="justify" class="paragrafo">Após pouca manipulação, também é possível obter uma expressão para a aceleração angular conforme pode ser
observado finalmente na equação \eqref{eqn:equacao_movimento_final}

\begin{align}
  T & =  mL \dot{\theta^2} +  mg \cos{\theta} \label{eqn:forca_tracao_equacao}\\
  \ddot{\theta} & = - \frac{g}{L} \sin{\theta} - \frac{c}{mL} \dot{\theta} \label{eqn:equacao_movimento_final}
\end{align}
</p>

<p align="justify" class="paragrafo">A animação do Pêndulo Simples, que também fornece uma interação com o modelo,
 pode ser vista em: <a href=" https://www.glowscript.org/#/user/clarinetabest/folder/projetos/program/pendulosimples">Pêndulo Simples</a>
</p>

{% with paginas as paginated %}
    {% include 'artigos/partes/paginacao.html' %}
{% endwith %}

{% endblock %}