{% extends 'artigos/home.html' %}

{% load static %}

{% block middle %} 
<div class="conteudo">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
        MathJax = {
          tex: {
            tags: 'ams'  // should be 'ams', 'none', or 'all'
          }
        };
  </script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    
<h1>Pêndulo Simples - Lagrange</h1> <br>

<div class="figura_principal"> 
	<figure>
	  <img src="{% static 'artigos/img/svgs/pendulo_simples.svg' %}"/>
	  <figcaption class="label_figure">Fig.1 Pêndulo simples.</figcaption>
	</figure>
  </div>

<p>Neste artigo será deduzida a equação de movimento 
    do pêndulo simples através das Equações de Lagrange.</p>
<p>Este dispositivo possui apenas um grau de liberdade,
    pois embora sua trajetória ocorra em duas dimensões,
    o vínculo trigonométrico exercido pela haste reduz o
    número de graus de liberdade do sistema de dois para um.</p>
<p>A equação \eqref{eqn:lagrangiana_definicao} refere-se à Função Lagrangiana.


\begin{equation} \label{eqn:lagrangiana_definicao}
	L = T-V
\end{equation}

onde \(L\) é igual à diferença entre a energia cinética \(T\) e a energia potencial \(V\).</p>
    
<p> Em seguida temos a Equação de Lagrange apresentada na equação \eqref{eqn:funcao_de_lagrange} que utiliza a posição angular do pêndulo como coordenada generalizada.</p>
    
<p> No lado direito da equação  \eqref{eqn:funcao_de_lagrange} o termo \(-c \dot{\theta}\) representa uma força de amortecimento, contrária ao movimento. </p>
	
<p>	Esta força faz com que o pêndulo perca energia cinética tornando o sistema 
	não-conservativo e faz com que o pêndulo não oscile
	infinitamente e recebe, por esse motivo, o sinal negativo.
    
\begin{equation} \label{eqn:funcao_de_lagrange}
	\frac{d}{dt} \left(\frac{\partial L}{\partial \dot{\theta}}\right) - \frac{\partial L}{\partial \theta} = -c \dot{\theta}
\end{equation}	
</p>

<p> Na equação \eqref{eqn:posicao_velocidade} é possível observar as componentes em \(x\) e em \(y\) do vetor posição do ponto \(Q\) com repeito ao ponto \(O\) e suas derivadas \(\dot{x}\) e \(\dot{y}\) em relação ao referencial inercial R, que representam as componentes do vetor velocidade linear, que 
	é tengente à trajetória do pêndulo sendo, portanto, perpendicular ao eixo da haste no sentido da trajetória.

\begin{equation}\label{eqn:posicao_velocidade}
	\begin{array}{l l}
		x = l \sin{\theta} & \dot{x} = l \dot{\theta}\cos{\theta} \\
		y = -l \cos{\theta} & \dot{y} = l \dot{\theta}\sin{\theta}
	\end{array}
\end{equation}	</p>

<p> Para o cálculo da Função Lagrangiana dada pela equação \eqref{eqn:funcao_de_lagrange} foi calculada a Energia Cinética \(T\), através das equações de \eqref{eqn:energia_cinetica} à \eqref{eqn:energia_cinetica_5} e a Energia Potencial \(V\), nas equações de \eqref{eqn:energia_potencial} à \eqref{eqn:energia_potencial_2}, como pode ser observado.</p>

<p>Vale ressaltar que foi considerado o ponto O como referencial inercial e o nível de potencial 0 foi posicionado na linha horizontal que passa por esse ponto. </p>
	
<p>Sendo assim a altura \(h\), no termo \(mgh\) de \(V\), passa a ser uma quantidade negativa, onde \(h = -l\cos{\theta}\).

\begin{align}
  	T & = \frac{1}{2} m v^2 \label{eqn:energia_cinetica} \\
  	T & = \frac{1}{2} m (v_x^2 + v_y^2) \label{eqn:energia_cinetica_1} \\
	T & = \frac{1}{2} m (\dot{x}^2 + \dot{y}^2) \label{eqn:energia_cinetica_2} \\
	T & = \frac{1}{2} m (l^2 \dot{\theta^2} \cos^2{\theta} + l^2 \dot{\theta^2} \sin^2{\theta}) \label{eqn:energia_cinetica_3} \\
	T & = \frac{1}{2} m [l^2 \dot{\theta^2} \underbrace{(\cos^2{\theta} + \sin^2{\theta})}_{=1}] \label{eqn:energia_cinetica_4} \\
	T & = \frac{1}{2} m l^2 \dot{\theta}^2 \label{eqn:energia_cinetica_5}
\end{align} </p>

<p>E para a Energia Potencial:

\begin{align}
	V & = mgh \label{eqn:energia_potencial}	 \\
	V & = mg(-l\cos{\theta}) \label{eqn:energia_potencial_1}	 \\
	V & = -mgl\cos{\theta} \label{eqn:energia_potencial_2} \\
\end{align} </p>

<p>Substituindo as expressões de \(T\) e \(V\) obtidas, respectivamente, em \eqref{eqn:energia_cinetica_5} 
	e \eqref{eqn:energia_potencial_2} na equação \eqref{eqn:funcao_de_lagrange}, obtém-se a Função Lagrangiana da equação \eqref{eqn:lagrangiana_calculada}.

\begin{equation}\label{eqn:lagrangiana_calculada}	
	L = \frac{1}{2} m l^2 \dot{\theta}^2 + mgl\cos{\theta}
\end{equation} </p>

<p>De posse da lagrangiana é possível obter a equação diferencial que rege o movimento pendular simplesmente submetendo-a à Equação de Lagrange.

<p>Calculando cada termo da Equação \eqref{eqn:funcao_de_lagrange} separadamente, como pode ser analisado nas equações de \eqref{eqn:lagrange_1} à \eqref{eqn:lagrange_3}, obtém-se os seguintes resultados.

\begin{align}
   \frac{\partial L}{\partial \dot{\theta}} & = m l^2 \dot{\theta} \label{eqn:lagrange_1} \\
   \frac{d}{dt} \left(\frac{\partial L}{\partial \dot{\theta}}\right) & = m l^2 \ddot{\theta} \label{eqn:lagrange_2} \\
   \frac{\partial L}{\partial \theta} & = -mgl \sin{\theta} \label{eqn:lagrange_3} 
\end{align} </p>

<p>Após calculados os termos acima é possívem obter a equação de movimento do pêndulo ora representada pela equação diferencial em \eqref{eqn:equacao_movimento} e, isolando \(\ddot{\theta}\), obtém-se a expressão para a aceleração angular dada pela equação \eqref{eqn:aceleracao}.

\begin{equation}\label{eqn:equacao_movimento}
   m l^2 \ddot{\theta} + mgl \sin{\theta} = -c \dot{\theta}
\end{equation}

\begin{equation}\label{eqn:aceleracao}
	\ddot{\theta} = - \frac{g}{l} \sin{\theta} -c \dot{\theta}
\end{equation} </p>

<p>A equação diferencial que rege o movimento do pêndulo, obtida anteriormente,
   refere-se a um movimento amortecido. Caso seja desejado um movimento sem amortecimento
   basta igualar o lado esquerdo da equação \eqref{eqn:equacao_movimento} a 0 que será possível
   obter tanto uma expressão para o movimento quanto para a aceleração, conforme pode ser observado nas equações \eqref{eqn:equacao_movimento_nao_amortecida} e \eqref{eqn:aceleracao_nao_amortecida}.

\begin{equation}\label{eqn:equacao_movimento_nao_amortecida}
	m l^2 \ddot{\theta} + mgl \sin{\theta} = 0
\end{equation} 

\begin{equation}\label{eqn:aceleracao_nao_amortecida}
	\ddot{\theta} = - \frac{g}{l} \sin{\theta}
\end{equation} </p>


<p>A animação do Pêndulo Simples, que também fornece uma interação com o modelo,
 pode ser vista em: <a href=" https://www.glowscript.org/#/user/clarinetabest/folder/projetos/program/pendulosimples">Pêndulo Simples</a>
</p>
</div>

{% with paginas as paginated %}
    {% include 'artigos/partes/paginacao.html' %}
{% endwith %}

{% endblock %}


